html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html * {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

b {
  font-weight: normal;
}

em {
  font-style: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  text-transform: none;
  outline: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

button {
  padding: 0;
  border: none 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
